<div id="{{ .Get "id" }}" style="width: 100%; height: 400px;"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart']});

  google.charts.setOnLoadCallback(function () {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'URL');
      data.addColumn('number', 'Ease');
      data.addColumn('number', 'Value');
      data.addColumn({ role: 'annotation'});
      data.addColumn({ role: 'tooltip', p: {html:true}});

      data.addRows([
        ['/practices-and-techniques/keep-detailed-specs-out-of-user-stories', 7, 8, 'Specs Out Of Stories', 'Keep Detailed Specifications Out Of User Stories'],
        ['/practices-and-techniques/split-user-stories-into-two-parts', 2, 3, '2 Part Story Notes', 'Split User Stories into Two Parts'],
        ['/practices-and-techniques/suggestions-instead-of-requirements',1, 8, 'Specs & Suggestions', 'Suggestions Instead Of Requirements'],
        ['/practices-and-techniques/qa-as-part-of-development',8, 9, 'QA in Dev', 'QA As Part Of Development'],
        ['/practices-and-techniques/deploy-mid-sprint',2, 10, 'Deploy Mid-Sprint', 'Deploy as often as possible'],
        ['/practices-and-techniques/replace-sprint-reviews-with-steering-meetings',8, 1, 'Steering Meetings', 'Replace \"Sprint Reviews\" with \"Steering Meetings\"'],
        ['/practices-and-techniques/feature-walkthrough-videos',4, 7, 'Video Walkthroughs', 'Replace Sprint Review Demos with Walkthrough Videos'],
        ['/practices-and-techniques/drop-traditional-job-titles',10, 8, 'Job Titles', 'Drop Traditional Job Titles'],
        ['/practices-and-techniques/implementers-and-important-resources',8, 7, 'Implementers & Important Resources', 'Identify who are \"Implementers\" and who are \"Important Resources\"'],
        ['/AAA',3, 3, 'Velocity', 'Approach velocity differently'],
        ['/AAA',6, 4, 'Less Planning', 'Don\'t plan deliverables in future sprints prematurely']
      ]);
      
      var view = new google.visualization.DataView(data);
      view.setColumns([1, 2, 3, 4]);

      var options = {
          title: 'Changes To Implement',
          hAxis: {title: 'Ease Of Implementation', minValue: 0, maxValue: 10},
          vAxis: {title: 'Value', minValue: 0, maxValue: 10},
          tooltip: {isHtml: true},
          legend: 'none',
          width: '100%',
          annotations: {
              textStyle: {
                  fontSize: 12
              }
          }
      };
      
      var chart = new google.visualization.ScatterChart(document.getElementById('{{ .Get "id" }}'));

      google.visualization.events.addListener(chart,'select', function() {
          var selection = chart.getSelection();
          if (selection.length > 0) {
            var row = selection[0].row;  
            var url = data.getValue(row, 0);
            window.location.href = url;
          }
        });

      chart.draw(view, options);

      // Redraw the chart on window resize to make it responsive
      window.addEventListener('resize', function() {
        chart.draw(view, options);
      });

  });
</script>
